build --action_env=CARGO_PKG_NAME=mock --action_env=CARGO_PKG_VERSION_PATCH=mock --action_env=CARGO_PKG_VERSION_MAJOR=mock --action_env=CARGO_PKG_VERSION_MINOR=mock --action_env=CARGO_PKG_VERSION=mock2 --action_env=CARGO_PKG_AUTHORS=mock2
run --action_env=CARGO_PKG_NAME=mock --action_env=CARGO_PKG_VERSION_PATCH=mock --action_env=CARGO_PKG_VERSION_MAJOR=mock --action_env=CARGO_PKG_VERSION_MINOR=mock --action_env=CARGO_PKG_VERSION=mock2 --action_env=CARGO_PKG_AUTHORS=mock2
test --action_env=CARGO_PKG_NAME=mock --action_env=CARGO_PKG_VERSION_PATCH=mock --action_env=CARGO_PKG_VERSION_MAJOR=mock --action_env=CARGO_PKG_VERSION_MINOR=mock --action_env=CARGO_PKG_VERSION=mock2 --action_env=CARGO_PKG_AUTHORS=mock2
