build --action_env=CARGO_PKG_NAME=mock --action_env=CARGO_PKG_VERSION_PATCH=mock --action_env=CARGO_PKG_VERSION_MAJOR=mock --action_env=CARGO_PKG_VERSION_MINOR=mock --action_env=CARGO_PKG_VERSION=mock2 --action_env=CARGO_PKG_AUTHORS=mock2 --action_env=LD_LIBRARY_PATH --action_env=PATH --action_env=TMPDIR --test_env=PATH --test_env=LD_LIBRARY_PATH --strategy=Rustc=standalone
run --action_env=CARGO_PKG_NAME=mock --action_env=CARGO_PKG_VERSION_PATCH=mock --action_env=CARGO_PKG_VERSION_MAJOR=mock --action_env=CARGO_PKG_VERSION_MINOR=mock --action_env=CARGO_PKG_VERSION=mock2 --action_env=CARGO_PKG_AUTHORS=mock2 --action_env=LD_LIBRARY_PATH --action_env=PATH --action_env=TMPDIR --test_env=PATH --test_env=LD_LIBRARY_PATH --strategy=Rustc=standalone
test --action_env=CARGO_PKG_NAME=mock --action_env=CARGO_PKG_VERSION_PATCH=mock --action_env=CARGO_PKG_VERSION_MAJOR=mock --action_env=CARGO_PKG_VERSION_MINOR=mock --action_env=CARGO_PKG_VERSION=mock2 --action_env=CARGO_PKG_AUTHORS=mock2 --action_env=LD_LIBRARY_PATH --action_env=PATH --action_env=TMPDIR --test_env=PATH --test_env=LD_LIBRARY_PATH --test_output=all --strategy=Rustc=standalone
